<% if can? :update, @place %>
<td><%= link_to 'Edit', edit_place_path(@place) %></td>
<% end %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>
</br>
<p>
<%= image_tag  "http://maps.googleapis.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@place.address}%2c#{@place.name}" %>
</p>
</br>



<%= link_to 'Back', places_path %>|
<%= link_to "Edit", edit_place_path(@place) %>
